@page "/CartPage"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization;
@using TicketHive_MadCats.Client.Cookies
@inject IJSRuntime JsRuntime

<h3>CartPage</h3>

@if(cart != null && cart.Count > 0)
{
	@foreach(var kvp in cart)
	{
		<span>Event @kvp.Key | @kvp.Value in cart </span>
	}

	// ENDA RADEN SOM BEHÖVS FÖR ATT ÄNDRA VARUKORG
	@*cart = await cookieInt.UpdateCookieForSingleEvent(eventName, event1quantity)*@
}
else if (cart != null && cart.Count == 0)
{
	<span>Your cart is empty</span>
}
else if (cart == null)
{
	<span>Loading cart...</span>
}



@code {
	[Inject]
	public IJSRuntime jS { get; set; }
	public CookieInterpreter? cookieInt;
	public Dictionary<string, int>? cart = null;

	protected override async Task OnParametersSetAsync()
	{
		cookieInt = new(jS);
		await StartReadingCookie();
	}


	public async Task StartReadingCookie()
	{
		Dictionary<string, int>? response = await cookieInt.ReadCookie();

		if(response != null)
		{
			cart = response;
		}
		else
		{
			await cookieInt.CreateCookie();
			cart = new();
		}
	}


}
