@page "/ConfirmationPage/{serializedList}"
@using Newtonsoft.Json;

<h3>ConfirmationPage</h3>

@if(listOfResponses != null)
{
    foreach(string response in listOfResponses)
    {
        <div>@response</div>
    }
}

@code {
    [Parameter]
    public string serializedList { get; set; }

    public List<string>? listOfResponses;

    protected override async Task OnParametersSetAsync()
    {
        listOfResponses = JsonConvert.DeserializeObject<List<string>>(serializedList);
    }
}
