@page "/ConfirmationPage/{serializedList}"
@using Microsoft.AspNetCore.Authorization;
@using Newtonsoft.Json;
@inject NavigationManager injNavMan
@attribute [Authorize]

<h3>Confirmation Page</h3>

@if(listOfResponses != null)
{
    foreach(string response in listOfResponses)
    {
        <div>@response</div>
    }

    <button @onclick="GoBackToBookingPage">Go back to booking page</button>
}

@code {
    [Parameter]
    public string serializedList { get; set; }
    [Inject]
    public NavigationManager navMan { get; set; }

    public List<string>? listOfResponses;
    /// <summary>
    /// Derialize list of responses from a serialized list. 
    /// </summary>
    /// <returns></returns>
    protected override async Task OnParametersSetAsync()
    {
        listOfResponses = JsonConvert.DeserializeObject<List<string>>(serializedList);
    }

    public void GoBackToBookingPage()
    {
        navMan.NavigateTo("/Bookingpage");
    }
}
