@page "/counter"
@using BusinessLogic;
@using TicketHive_MadCats.Shared.Models;

<PageTitle>Counter</PageTitle>

<button @onclick="test">Try sending 100 sek to convert</button>

<div>Convert to EUR result: @eurResult</div>
<div>Convert to GBP result: @gbpResult</div>


@code {
    public double? eurResult;
    public double? gbpResult;

    public async Task test()
    {
        ConvertApiResponseModel? eurBody = await ConvertApiCaller.ConvertSekToCurrencyAsync("EUR", 100);
        ConvertApiResponseModel? gbpBody = await ConvertApiCaller.ConvertSekToCurrencyAsync("GBP", 100);

        if (eurBody != null) eurResult = eurBody.Result;
        if (gbpBody != null) gbpResult = gbpBody.Result;
    }
}
