@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase
@inject NavigationManager navMan

<h1 style="color: #305076;">Welcome to Ticket Hive!</h1>
<p>Here's some information about our app:
    <em>
        Make your own damn reservations!
    </em>
</p>
<!-- Lägg till appens logga här typ -->
<img src="/images/logos/yellow.png" alt="TicketHiveLogo" width="250" height="250">
<p>Get started by logging in or registering:</p>
<div>
    <a @onclick="gotoLogin" class="btn-login">Login</a>
    <a href="NavigationPaths.Register" class="btn-register">Register</a>
</div>

<style>
    .btn-login, .btn-register {
        display: inline-block;
        background-color: #fbe89c;
        color: #fff;
        font-size: 16px;
        padding: 12px 24px;
        border-radius: 4px;
        text-decoration: none;
        margin-right: 8px;
    }

        .btn-login:hover, .btn-register:hover {
            background-color: #305076;
        }
</style>

@code{
    public void gotoLogin()
    {
        navMan.NavigateTo("/Areas/Identity/Pages/Account/Login");
    }
}