@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json
@using Newtonsoft.Json;
@using TicketHive_MadCats.Server.Testers;
@using TicketHive_MadCats.Shared.Models;
@using TicketHive_MadCats.Shared.ViewModels;
@inherits LayoutComponentBase
@inject NavigationManager navMan
@inject HttpClient client
@inject AuthenticationStateProvider authStateProvider

<h1 style="color: #305076;">Welcome to Ticket Hive!</h1>
<p>Here's some information about our app:
    <em>
        Make your own damn reservations!
    </em>
</p>
<!-- Lägg till appens logga här typ -->
<img src="/images/logos/yellow.png" alt="TicketHiveLogo" width="250" height="250">
<p>Get started by logging in or registering:</p>
<div>
    <h2>Click on the login or register button on top of the navigation bar!</h2>
</div>

<button @onclick="testEventEndpoints">Test all endpoints</button>

<div>Event API test result: @eventApiTestStatus</div>

<style>
    .btn-login, .btn-register {
        display: inline-block;
        background-color: #fbe89c;
        color: #fff;
        font-size: 16px;
        padding: 12px 24px;
        border-radius: 4px;
        text-decoration: none;
        margin-right: 8px;
    }

        .btn-login:hover, .btn-register:hover {
            background-color: #305076;
        }
</style>

@code{
    // Injicerar både dessa för användning i ApiTesters
    [Inject]
    public HttpClient clientInCode { get; set; }
    [Inject]
    public AuthenticationStateProvider authInCode { get; set; }

    // Används för att visa testernas status på UI't som en bool
    public bool? eventApiTestStatus = null;

    // Testar alla endpoints med testers instanser
    public async Task testEventEndpoints()
    {
        EventApiTester tester = new(authInCode, clientInCode);
        eventApiTestStatus = await tester.testEndpoints();
    }
}