@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json
@using Newtonsoft.Json;
@using TicketHive_MadCats.Shared.Models;
@using TicketHive_MadCats.Shared.ViewModels;
@inherits LayoutComponentBase
@inject NavigationManager navMan


<body>
    <h1 style="color: #305076;">Welcome to Ticket Hive!</h1>
    <img src="/images/logos/yellow.png" alt="TicketHiveLogo" width="400" height="250">
    <p>
        Here's some information about our app:
        <div>
            <em>
                Log in or register to be able to book your favourite events today!
            </em>
        </div>
    </p>
    <!-- Lägg till appens logga här typ -->
    @*<img src="/images/logos/yellow.png" alt="TicketHiveLogo" width="400" height="250">*@
    <p>Get started by logging in or registering.</p>

    <div>
        <AuthorizeView Roles="Admin">
            <button class="btn btn-primary" @onclick="() => navMan.NavigateTo(AdminViewUrl)">Visit Admin page</button>
        </AuthorizeView>
    </div>
</body>


<style>
    html, body {
        background-color: #305076;
        color: #fbe89c;

    }
    .btn-login, .btn-register {
        display: inline-block;
        background-color: #fbe89c;
        color: #fff;
        font-size: 16px;
        padding: 12px 24px;
        border-radius: 4px;
        text-decoration: none;
        margin-right: 8px;
    }

        .btn-login:hover, .btn-register:hover {
            background-color: #305076;
        }
</style>

@code{
    public string AdminViewUrl { get; set; } = "/AdminView";

    public string HomeUrl { get; set; } = "/Homepage";
}