@using Microsoft.AspNetCore.Authorization;
@using TicketHive_MadCats.Shared.Statics;

@page "/Userpage"
@attribute [Authorize]

@inject AuthenticationStateProvider injAuthStateProvider
@inject HttpClient injHttpClient
@inject NavigationManager injNavMan

@if (userName != null)
{
    <h3>Welcome to your page @userName</h3> 
    <label>New password</label>
    <input @bind="newPassword" type="password"/>

    <select @bind="newCountry">
        @foreach (string country in countries)
        {
            <option value="@country">@country</option>
        }
    </select>

    <button>Submit changes</button>
}
else
{
    <h3>Checking user credentials...</h3>
}

@code {
    // Injected properties
    [Inject]
    AuthenticationStateProvider authStateProvider { get; set; } = null!;
    [Inject]
    HttpClient httpClient { get; set; } = null!;
    [Inject]
    NavigationManager navMan { get; set; } = null!;

    // Variables for static use
    public string? userName;
    public List<string> countries = CountriesAndCodes.getListOfCountries;

    // Variables for dynamic use
    string newPassword = "";
    string newCountry = "";

    // Sets userName to logged in users username
    protected override async Task OnInitializedAsync()
    {
        var state = await authStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if(user == null)
        {
            navMan.NavigateTo("/Index");
        }

        // No idea why warning isnt suppressed
        userName = user.Identity.Name;
    }
}
